/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Styles for the body */

li {
	font-family: roboto-slab;
	color: #595352;
}

h1 {
	font-family: playfair-display;
	color: #F2BEA0;
	font-style: normal;
	font-weight: 400;
}

h2 {
	font-family: playfair-displayl; 
	color: #8B8C61;
}

h4 {
	font-family: Arial;
	color: #D9763D;
}

h5 {
	font-family: Arial;
	color: #F2BEA0;
}

h6 {
	font-family: Arial;
	color: #595352;
}

a {
	font-family: Arial;
	color: #D9763D;
}

p {
	font-family: Arial;
	color: #595352;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #8B8C61;
}

.resume-main {
	background-color: #F2F2F2;
}

.resume-aside {
	background-color: #F2BEA0;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #D9763D;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}

.footer {
	background-color: #D9763D;
}

.language-level {
	color: #D9763D;
	border-color: #D9763D !important;
}

.language-progress {
	background-color: #D9763D !important;
}

